.advantages {
  padding: 46px 0 325px 0;
  background-color: @light_gray;

  @media (min-width: @tablet-width) {
    padding: 58px 0 69px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 0 93px 0;
  }
}

.advantages__slogan {
  text-align: center;
  margin: 0 auto 46px auto;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @dark_blue;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 30px;
  }
}

.advantages__slogan:nth-of-type(2) {

  @media (min-width: @tablet-width) {
    margin-bottom: 124px;
    padding: 0 100px 0 100px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 432px;
    padding: 0 100px 0 100px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 310px;
    padding: 0 0 0 310px;
    margin-bottom: 151px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 892px;
    padding: 0 24px;
    margin-bottom: 174px;
  }
}

.advantages__item {
  margin-bottom: 43px;

  @media (min-width: @desktop-width) {
    width: 252px;
  }
}

.advantages__lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  padding: 0 10px;
  margin: 0 0 24px 0;
  text-align: center;
}

.advantages__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @dark_blue;
  margin: 0;
  text-align: center;
}

.advantages__promo {
  display: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: block;
    width: 310px;
    padding-left: 310px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    width: 534px;
    padding:0 36px 0 370px;
  }
}

.advantages__promo-lead {

   @media (min-width: @tablet-width) {
    margin: 0 0 24px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
  }
}

.advantages__promo-text {

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: @dark_blue;
    margin: 0 0 24px 0;
  }
}

.advantages__promo-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @red;
}
