.footer-social {

}

.footer-social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social__item {

}

.footer-social__item:hover {
  border-radius: 50%;
  border: 3px solid @dark_blue;
  width: 42px;
  height: 42px;
}

.footer-social__item:active {
  opacity: 0.3;
}

.footer-social__link {
  display: block;
  width: 42px;
  height: 42px;
}

.footer-social__link--twitter {
  background: url("../../img/svg/twitter.svg") no-repeat;
  background-position:center;
}

.footer-social__link--facebook {
  background: url("../../img/svg/facebook.svg") no-repeat;
  background-position: center;

}

.footer-social__link--youtube {
  background: url("../../img/svg/youtube.svg") no-repeat;
  background-position: center;
}
