.form {

}

.form__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @dark_blue;
}

.form__fieldset {
  border: 2px solid @gray;
}

.form__name {

}

.form__name-label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @red;
}

.form__name-input {
  border: 2px solid @gray;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @dark_blue;
}

.form__name-input::placeholder {
  color: @dark_blue;
}

.form__achievement {
  background-color: @light_gray;
}

.form__achievement-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @dark_blue;
}

.form__achievement-checkbox {

}

.form__adress {

}

.form__adress-label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @red;
}

.form__adress-input {
  border: 2px solid @gray;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @dark_blue;
}

.form__adress-input::placeholder {
  color: @dark_blue;
}

.form__application {
  background-color: @light_gray;
}

.form__application-label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @dark_blue;
}

.form__application-radio {

}

.form__review {

}

.form__review-label {

}

.form__review-textarea {
  border: 2px solid @gray;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  color: @dark_blue;
}

.form__review-textarea::placeholder {
  color: @dark_blue;
}

.form__legend {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @red;
}

.form__button {
  border: none;
  padding: 23px 0;
  width: 296px;
  background-color: @green;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @white
}

.form__comment {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @dark_blue;
}
