.gallery {

}

.gallery__slogan {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @dark_blue;
<<<<<<< Updated upstream
=======
  padding: 54px 0 60px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 100px 0 85px 0;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 184px 97px 184px;
  }
>>>>>>> Stashed changes
}

.gallery__panorama {

}

.gallery__hit {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
  background-color: @red;
}

.gallery__review {
  margin: 0;
  background-color: @light_gray;
}

.gallery__author {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: @dark_blue;
}

.gallery__data {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @dark_blue;
}

.gallery__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: @dark_blue;
}

.gallery__like {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: @red;
}

.gallery__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery__item {

}

.gallery__pic {

}
