.page-header {
  // margin-bottom: -72px;
  // z-index: 0;
  // background-color: black;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

}

.page-header__block {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 20px;

  @media (min-width: @tablet-width) {
    padding: 20px 0 0 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    align-items: flex-start;
    padding: 42px 130px 43px 130px;
  }
}

.page-header__logo {
  display: block;
  padding: 23px 0 22px 0;

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-right: 206px;
  }
}

.page-header__logo svg {
  fill: @white;
}

.page-header__logo:hover svg {
  fill: @red;
}

.page-header__logo:active svg {
  fill: @black;
  opacity: 0.3;
}
