.promo {

}

.promo__top {
  background: url("../../img/jpg/back-desktop.jpg") no-repeat;
}

.promo__bottom {
  background-color:@dark_blue;
}

.promo__slogan {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @white;
}

.promo__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  border:3px solid @white;
  border-radius: 50px;
  padding: 11px 39px;
}

.promo__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @white;
}
