.redactor {
  background-color: @light_gray;
  padding: 20px 0 40px 0;
}

.redactor__box {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 47px;
    padding: 57px 38px 54px 20px;
  }
  
  @media (min-width: @desktop-width) {
    padding: 57px 90px 57px 80px;
  }
}

.redactor__pic {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

// .redactor__block {

// }

.redactor__unit {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.redactor__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 49px 0 37px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.redactor__scrolls {
  margin-bottom: 73px;
}

.redactor__icon {
  border: none;
}

.redactor__icon svg {
  fill: @dark_blue;
  opacity: 0.3;
}

.redactor__icon--active svg {
  fill: @red;
  opacity: 1;
}

// .redactor__icon-cut {

// }

// .redactor__icon-fill {

// }

// .redactor__icon-contrast {

// }

// .redactor__scroll {

// }

.redactor__scroll-cut {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.redactor__scroll-fill {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.redactor__scroll-contrast {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.redactor__scroll--active {
  display: block;
}

.redactor__bar {
  height: 2px;
  background-color: @dark_blue;
}

.redactor__toggle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid @red;
}

.redactor__buttons {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 44px;
  }
}

.redactor__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @dark_blue;
  border: 3px solid @dark_blue;
  border-radius: 50px;
  width: 100%;
  padding: 21px 0;
  opacity: 0.3;
}

.redactor__button:first-of-type {
  margin-bottom: 12px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.redactor__button--active {
  color: @red;
  border-color: @red;
  opacity: 1;
}
