.slider {

}

.slider__list {

}

.slider__item {

}

.slider__toggles {

}

.slider__toggle {
  border: none;
  outline: none;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @black;
  opacity: 0.3;
}
