.footer {

}

.footer__logo svg{
  fill: @dark_blue;

}

.footer__logo:hover svg {
  fill: @red;
}

.footer__logo:active svg {
  fill: @black;
  opacity: 0.3;
}

.footer__creator svg {
  fill: @red;
}

.footer__creator:hover svg {
  fill: @dark_blue;
}

.footer__creator:active svg {
  fill: @black;
  opacity: 0.3;
}


